.ves-slideshow{	margin-top: -57px; }
#ves-header { background: transparent !important; }
div#ves-header-top {
    background: #232323;
    z-index: 3;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    padding-top: 14px;
}
.customer-care span {
    margin-left: 10px;
}
    float: right;
    width: 18%;
}
.top-header .account span {
    margin-left: 30px !important;
}
.top-header .account {
    width: 13% !important;
    float: right;
}
.form-create-account {
    margin: 0 auto;
}
.author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: -20px 0 0 0;
    z-index: 99999;
    position: absolute;
    left: 45%;
}
.course_caption{
    overflow: hidden;
    position: relative;
    padding: 15px 0px;
    margin: 0 10px;
    display: block;
}
.course_caption .user_course{
	    display: inline-block;
		font-size: 14px;
    color: #ccc;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
}
 .course_caption .course_value{
	float: right;
    font-weight: bold;
}
.full_width .title {
	font-weight: 700;
    font-size: 40px;
    margin-top: 30px;
	font-family: sans-serif;
}
.full_width .mt_20{
	margin-top: 20px;
    margin-bottom: 30px;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.full_width ._brdr .name{
	margin-top: 20px;
}
.full_width ._brdr .name a{
	color: #aaa;
}
.full_width .jon_now{
	border: 1px solid #4CAF50;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 25px;
    margin-bottom: 10px;
    background: #4CAF50;
}
.fa-group:before, .fa-users:before {
    content: "\f0c0";
}
._register {
    background: url(../images/course-16.jpg) no-repeat scroll center center/100%;
    background-size: cover;
    background-attachment: fixed;
}
._register .color {
    background: rgba(0,0,0,0.7);
}
._register .register_text {
    display: inline-block;
    color: #fff;
    font-size: 28px;
    padding: 75px 0;
}
._register .register_text p {
    font-weight: 600;
    font-size: 24px;
	    margin: 0 0 10px;
}
._register .register_text span {
    color: #ffb606;
}
._register .register_text h3 {
    font-size: 60px;
    font-weight: 600;
    font-family: "Roboto Slab";
    line-height: 60px;
	text-transform: uppercase;
    margin: 10px 0;
}
._register .register_text .digi_clock {
    margin: 40px 0 0 0;
}
._register .register_text {
    display: inline-block;
    color: #fff;
    font-size: 28px;
    padding: 75px 0;
}
._register .register_text .digi_clock .counter {
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    padding: 20px 25px;
    border-radius: 100%;
    line-height: 28px;
    margin-right: 20px;
}
._register .register_text .digi_clock .counter .count_days, ._register .register_text .digi_clock .counter .count_secns {
    font-size: 40px;
    font-weight: bold;
}
._register .register_text .digi_clock .counter ._text {
    font-size: 16px;
    font-weight: bold;
}
.register_form {
    background: #fff;
    float: right;
    padding: 0px;
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
}
.register_form  .row {
    margin: 0;
}
.register_form h3 {
    padding: 20px 50px 21px 50px;
    text-align: center;
    background: #ffb606;
    position: relative;
    overflow: hidden;
    font-family: "Roboto Slab";
    margin: 0;
    color: #fff;
    font-weight: 700;
}
.register_form form {
    padding: 25px 75px;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.register_form button[type="submit"] {
    background: #000;
    color: #fff;
    border: medium none;
	display: block;
    width: 100%;
    margin-top: 20px;
}

.course-form .fieldset{
    border: 1px solid #ddd;
    padding: 20px;
}