<div class="wapper">
    <form class="course-form form" method="post" enctype="multipart/form-data" id="course-form" action="<?php echo $this->getUrl() . "customertype/course/save/"; ?>" data-mage-init='{"validation": {}}' >
        <div class="row">
            <div class="col-md-3">
                <div class="content account-nav-content" id="account-nav">
                    <ul class="nav items">
                        <li class="nav item"><a href="#goals">Course Goals</a></li>
                        <!-- <li class="nav item"><a href="javascript:void(0);">Curriculum</a></li>  -->
                        <li class="nav item"><a href="#landing_page">Course Landing Page</a></li>
                        <li class="nav item"><a href="#price">Price</a></li>
                        <li class="nav item"><a href="javascript:void(0);">&nbsp;</a></li>
                        <li class="nav item"><button type="submit" class="button"><span>Submit for Review</span></button></li>
                    </ul>    
                </div>
            </div>  
            <div class="col-md-9 course-deta
                 ils">
                <div class="row" id="goals">
                    <input type="hidden" name="instructor_id" value="1" />
                    <fieldset class="fieldset">
                        <legend class="legend"><span>Course Goals</span></legend><br>
                        <div class="control">
                            <label class="label"><span>Does your course have any prerequisite?</span></label>
                            <input data-validate='{"required":true}' type="text" name="prerequisites" class="text" placeholder="Example: you should be able to use a PC at a biginner level." />
                        </div>
                        <div class="control">
                            <label class="label"><span>Who is your target Student?</span></label>
                            <input data-validate='{"required":true}' type="text" name="target_student" class="text" placeholder="Example: Build websites and webapps." />
                        </div>
                    </fieldset>
                </div>
                </br></br>

                <div class="row" id="landing_page">
                    <fieldset class="fieldset">
                        <legend class="legend"><span>Course Landing Page</span></legend><br>
                        <span>Your Course Landing page is the first thing students seewhen they find your course in the market place and will influence student enrollments. 
                            Fill in the details below to build your landing page, and click preview to see how it will appear to students in the marketplace.</span>

                        <div class="control">
                            <label class="label"><span>Course Title</span></label>
                            <input class="required" type="text" name="name" placeholder="photoshop" class="text" />
                        </div>
                        <div class="control">
                            <label class="label"><span>Course Code</span></label>
                            <input data-validate='{"required":true}' type="text" name="sku" placeholder="It shuld be uniqe" class="text" />
                        </div>
                        <div class="control">
                            <label class="label"><span>Course Subtitle</span></label>
                            <input data-validate='{"required":true}' type="text" name="short_description" placeholder="Insert your course subtitle" class="text" />
                        </div>

                        <div class="control">
                            <label class="label"><span>Course Description</span></label>
                            <textarea data-validate='{"required":true}' rows="4" cols="50" name="description" placeholder="Insert your course description" class="text" ></textarea>
                        </div>

                        <div class="control">
                            <label class="label"><span>What is <strong>Primarily</strong> taught in your course?</span></label>
                            <textarea data-validate='{"required":true}' rows="4" cols="50" name="what_they_learn" placeholder="e.g. Landscape Photography" class="text"></textarea>
                        </div>

                        <div class="control">
                            <label class="label"><span>Language?</span></label>
                            <input data-validate='{"required":true}' type="text" name="language" class="text" placeholder="English/Hindi" />
                        </div>

                        <div class="control">
                            <label class="label"><span>Skill Level</span></label>
                            <input data-validate='{"required":true}' type="text" name="level" class="text" placeholder="Skill Level" />
                        </div>
                        </br>
                        <div class="control">
                            <legend class="legend"><span>Course Image</span></legend><br>
                            <div class="col-md-6">
                                <img src="#" />
                            </div>

                            <div class="col-md-6">
                                <span>Make your course stand out with a greate image from our design learn on your preferences and style. Get your free image.</span>
                                <span>If your create your image, it must meet our course image quality standared to be accepted.</span>
                                <span>Important guidlines: 750x422 pixels, .jpg, .jpeg, .gif or .png. no text on the image.</span>
                                <input data-validate='{"required":true}' type="file" id="uploadimage" name="uploadimage" />
                            </div>
                        </div>

                        <div class="control">
                            <legend class="legend"><span>Promotion Video</span></legend><br>
                            <div class="col-md-6">
                                <img src="#" />
                            </div>
                            <div class="col-md-6">
                                <span>Student who watch a well made promo video are 5X more likely to enroll in your course, 
                                    We've seen that statistic go up to 10X for exceptionally awesome videos, <a href="#">Learn how to make yours awesome!</span>
                                <input type="file" name="promo-image" class="file"/>
                            </div>
                        </div>

                        <div class="control">
                            <legend class="legend"><span>Instructor Profile(s)</span></legend><br>
                            <div class="control">
                                <label class="label"><span>All visible instructors of this course must complete their profile before the course can be published. This includes name, image, and a short summary of your background (50 words minimum).</span></label>
                                <textarea data-validate='{"required":true, "min-words":150}' rows="4" cols="50" name="about_the_instructor" placeholder="e.g. Landscape Photography" class="text"></textarea>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="row" id="price">
                    <fieldset class="fieldset">
                        <legend class="legend"><span>Course Price</span></legend><br>
                        <div class="control">
                            <label class="label"><span>Course price</span></label>
                            <input data-validate='{"required":true,"validate-not-negative-number":true}' type="number" name="price" class="text" placeholder="$99.00" />
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>