<div class="row top-header">
<div class="col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-md-5 col-sm-5 col-xs-5 customer-care"><span>Have you any question ? </span> <span><i class="fa fa-phone"></i>   +91 9985704896</span><span><i class="fa fa-envelope"></i>   hello@ccit.com</span></div>

<?php if($this->customerLoggedIn()): ?>
<div class="col-md-5 col-sm-3 col-xs-5 account">       
        <a style="color: #fff;" href="<?php echo $this->getUrl() ?>customer/account/logout/">
            <span>Logout</span></a>
</div>
<?php else: ?>
<div class="col-md-5 col-sm-3 col-xs-5 account">
    <a style="color: #fff;" href="<?php echo $this->getUrl() ?>customer/account/create/"><span>Register</span></a>
    <a style="color: #fff;" href="<?php echo $this->getUrl() ?>customer/account/login/"><span>Login</span></a>
</div>
<?php endif; ?>
<div class="col-md-1 col-sm-1 col-xs-1"></div>
</div>